
@model IEnumerable<BOL.tbl_Url>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function ConfirmApprove() {
        return confirm('Are you sure you want to pay?');
    }
   

</script>

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UrlTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsApproved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.Payment)
        </th>

    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UrlTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.UrlDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsApproved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payment)
        </td>
        <td>
            @if (item.IsApproved == "A")
            {
                <b>@Html.ActionLink("level1", "Level1pay", new { urlid = item.UrlId }, new { onclick = "return ConfirmApprove();" })</b>

                <b> @Html.ActionLink("level2", "Level2pay", new { urlid = item.UrlId }, new { onclick = "return ConfirmApprove();" })</b>
            }

        </td>
        <td>
            @if (item.IsApproved == "A")
            {
                <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="U634RDGLDDWKE">
                    <table>
                        <tr><td><input type="hidden" name="on0" value="Select">Select</td></tr>
                        <tr>
                            <td>
                                <select name="os0">
                                    <option value="Gold">Gold $10.00 CAD</option>
                                    <option value="Silver">Silver $5.00 CAD</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" name="currency_code" value="CAD">
                    <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>



            }

        </td>

    </tr>
    }


</table>

